body {
    font-family: 'Bebas Neue', sans-serif;
    background-image:url("img/Background.png");
    color: cadetblue;
}




.vid {
    position: absolute;
    left: 0;
    top: 0;
    float:left;
}
.hidden {
     display: none;
}
.cross {
    z-index: 10;
}
#vastus {
    font-size:20em;
    position: absolute;
    left: 0;
    top: 0;
    float:left;
    z-index: 5;
}
#anim1 {
    z-index: 0;
}

#anim2 {
    z-index: 1;
}
#anim3 {
    z-index: 2;
}
#anim4 {
    z-index: 3;
}

#vastused {
    position: relative;
}

#vastused div{
    display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
    animation: logo-animation 15s infinite;
    transform: translateY(40px);
    transform: translateX(10px);
}

@keyframes logo-animation {

  50% {
    transform: translateY(-20px);
    transform: translateX(20px);
    transform: scale(1.08)
  }
}
