body {
    font-family: 'Bebas Neue', sans-serif;
    background-image:url("img/Background.png");
    color: cadetblue;
}

.vastus {
    position: absolute;
    left: 0;
    top: 0;
    float:left;
    border: 1px solid;
}
#c1 {
    z-index: 0;
}

#c2 {
    z-index: 1;
}
#c3 {
    z-index: 2;
}
#c4 {
    z-index: 3;
}

#vastused {
    position: relative;
}

#video {
   
}